// Example
.rating
    span.rating-item
        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
    span.rating-item
        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
    span.rating-item
        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
    span.rating-item
        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
    span.rating-item
        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')