section.section.section-testimonials
    .layout
        .heading
            h3.heading__title Отзывы
        .testimonials__wrapper
            .testimonials
                .testimonials__head
                    .testimonials__user
                        .testimonials__img-wrapper
                            +img('../../../images/testimonials/testimonials1.png', 'testimonials__img', 'Отзывы')
                        .testimonials__information
                            p.testimonials__name Валерия
                            .testimonials__rating
                                .rating
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                    .testimonials__date 07 Октября 2020, 13:22
                .testimonials__text
                    p Нужна была срочная генеральная уборка однокомнатной квартиры, направили клинера оперативно. Приехала девушка, за 5 часов все почистила. Остались небольшие разводы на окне, указала уборщице — она устранила. Понравилось, что клинер спрашивает что куда положить. Я осталась довольна уборкой.

                .testimonials__answer
                    .testimonials__answer-title Masterclean24.ru
                    .testimonials__answer-desc
                        p Добрый день! Мы рады, что Вам понравилась наша работа! Спасибо за тёплые слова и высокую оценку! Будем ждать Вас :)

            .testimonials
                .testimonials__head
                    .testimonials__user
                        .testimonials__img-wrapper
                            +img('../../../images/testimonials/testimonials2.png', 'testimonials__img', 'Отзывы')
                        .testimonials__information
                            p.testimonials__name Олег
                            .testimonials__rating
                                .rating
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                    .testimonials__date 07 Октября 2020, 13:22
                .testimonials__text
                    p Заплатил 10.000 ₽. Убирали 12 часов! Правда возникли некоторые вопросы к уборке. Обратился в поддержку, вопрос урегулировали, предложили химчистку мебели. Cделали химчистку, бесплатно. Очень хорошо сделали! Я очень рад, спасибо большое. Хи.

                .testimonials__answer
                    .testimonials__answer-title Masterclean24.ru
                    .testimonials__answer-desc
                        p Олег, добрый день! Нам жаль, что сложилась такая ситуация. Приносим свои извинения! Если будет плохой результат — уборка за наш счет! Ваше обращение уже рассматривается и в скором времени с Вами свяжутся !

            .testimonials
                .testimonials__head
                    .testimonials__user
                        .testimonials__img-wrapper
                            +img('../../../images/testimonials/testimonials3.png', 'testimonials__img', 'Отзывы')
                        .testimonials__information
                            p.testimonials__name Елена
                            .testimonials__rating
                                .rating
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                                    span.rating-item
                                        +mixinSvg('16px', '15px', 'icon-star', 'icon-star')
                    .testimonials__date 07 Октября 2020, 13:22
                .testimonials__text
                    p Вежливый сотрудник. Прибыл точно во время. Качество уборки на 5+. Очень рада знакомству с ответственным #[br] и трудолюбивым человеком

                .testimonials__answer
                    .testimonials__answer-title Masterclean24.ru
                    .testimonials__answer-desc
                        p Елена, здравствуйте! Мы рады, что Вы остались довольны работой нашего клинера. Большое спасибо за отзыв и за то, что выбираете нас! Всегда рады Вам помочь. Обращайтесь к нам ещё:)

        .testimonials__button
            a(href="#").button.button--big Оставить отзыв