section.section.section-faq
    .layout
        .heading
            h3.heading__title Часто задаваемые вопросы
        .faq__wrapper
            .accordion__item
                .accordion__title
                    | Сколько времени занимает уборка?
                    +mixinSvg('15px', '8px', 'icon-arrow', 'icon-arrow')
                .accordion__description
                    p В первую очередь стоимость работ зависит от того, какая именно уборка требуется в квартире или доме — #[u поддерживающая], #[u генеральная] или произвести #[u химчистку мебели]. Все они разные по сложности и объему работы. Чтобы точно оценить стоимость услуги, необходимо учесть материал, степень  загрязнения и площадь. #[a(href="#") Свяжитесь с нами], чтобы узнать стоимость именно вашей уборки.
            .accordion__item
                .accordion__title
                    | Сколько будут стоить услуги?
                    +mixinSvg('15px', '8px', 'icon-arrow', 'icon-arrow')
                .accordion__description
                    p В первую очередь стоимость работ зависит от того, какая именно уборка требуется в квартире или доме — #[u поддерживающая], #[u генеральная] или произвести #[u химчистку мебели]. Все они разные по сложности и объему работы. Чтобы точно оценить стоимость услуги, необходимо учесть материал, степень  загрязнения и площадь. #[a(href="#") Свяжитесь с нами], чтобы узнать стоимость именно вашей уборки.
            .accordion__item
                .accordion__title
                    | Какие материалы будут использоваться ?
                    +mixinSvg('15px', '8px', 'icon-arrow', 'icon-arrow')
                .accordion__description
                    p В первую очередь стоимость работ зависит от того, какая именно уборка требуется в квартире или доме — #[u поддерживающая], #[u генеральная] или произвести #[u химчистку мебели]. Все они разные по сложности и объему работы. Чтобы точно оценить стоимость услуги, необходимо учесть материал, степень  загрязнения и площадь. #[a(href="#") Свяжитесь с нами], чтобы узнать стоимость именно вашей уборки.
            .accordion__item
                .accordion__title
                    | Как оплачиваются услуги?
                    +mixinSvg('15px', '8px', 'icon-arrow', 'icon-arrow')
                .accordion__description
                    p В первую очередь стоимость работ зависит от того, какая именно уборка требуется в квартире или доме — #[u поддерживающая], #[u генеральная] или произвести #[u химчистку мебели]. Все они разные по сложности и объему работы. Чтобы точно оценить стоимость услуги, необходимо учесть материал, степень  загрязнения и площадь. #[a(href="#") Свяжитесь с нами], чтобы узнать стоимость именно вашей уборки.
            .accordion__item
                .accordion__title
                    | Я могу оставить клинера одного в квартире?
                    +mixinSvg('15px', '8px', 'icon-arrow', 'icon-arrow')
                .accordion__description
                    p В первую очередь стоимость работ зависит от того, какая именно уборка требуется в квартире или доме — #[u поддерживающая], #[u генеральная] или произвести #[u химчистку мебели]. Все они разные по сложности и объему работы. Чтобы точно оценить стоимость услуги, необходимо учесть материал, степень  загрязнения и площадь. #[a(href="#") Свяжитесь с нами], чтобы узнать стоимость именно вашей уборки.
            .accordion__item
                .accordion__title
                    | Как оплачиваются услуги?
                    +mixinSvg('15px', '8px', 'icon-arrow', 'icon-arrow')
                .accordion__description
                    p В первую очередь стоимость работ зависит от того, какая именно уборка требуется в квартире или доме — #[u поддерживающая], #[u генеральная] или произвести #[u химчистку мебели]. Все они разные по сложности и объему работы. Чтобы точно оценить стоимость услуги, необходимо учесть материал, степень  загрязнения и площадь. #[a(href="#") Свяжитесь с нами], чтобы узнать стоимость именно вашей уборки.