.slider-preview
    .slider-preview__init.slick-slider
        .slider-preview__item
            +img('../../../images/slider-image/slide-1.jpg', 'addClass', 'Название картинки')
        .slider-preview__item
            +img('../../../images/slider-image/slide-1.jpg', 'addClass', 'Название картинки')
        .slider-preview__item
            +img('../../../images/slider-image/slide-1.jpg', 'addClass', 'Название картинки')
        .slider-preview__item
            +img('../../../images/slider-image/slide-1.jpg', 'addClass', 'Название картинки')