footer.footer
    .layout.footer__wrapper
        .footer__main
            .footer__item.footer__item--el1
                .footer__item-title Частным клиентам
                ul.footer__menu
                    +listLink('Поддерживающая уборка', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Генеральная уборка', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Коттеджи', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('После ремонта', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('После пожара', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Химчистка', '#', 'footer__menu-list', 'footer__menu-link')
            .footer__item.footer__item--el2
                .footer__item-title Корпоротивным клиентам
                ul.footer__menu
                    +listLink('Уборка офисов', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Мытьё фасадов', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Мытьё стекол', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Уборка производственных помещений', '#', 'footer__menu-list', 'footer__menu-link')

            .footer__item.footer__item--el3
                .footer__item-title Полезное
                ul.footer__menu
                    +listLink('О нас', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Контакты', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Новости', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Отзывы', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Вакансии', '#', 'footer__menu-list', 'footer__menu-link')
                    +listLink('Стать клинером', '#', 'footer__menu-list', 'footer__menu-link')

            .footer__item.footer__item--el4
                .footer__item-title Подписывайтесь
                .footer__social
                    a(href="#").footer__social-link.footer__social-link--vk
                        +img('../../../images/social-image/social-image1.svg', 'footer__social-link-image', 'Master Clean')
                    a(href="#").footer__social-link.footer__social-link--inst
                        +img('../../../images/social-image/social-image2.svg', 'footer__social-link-image', 'Master Clean')
                    a(href="#").footer__social-link.footer__social-link--youtube
                        +img('../../../images/social-image/social-image3.svg', 'footer__social-link-image', 'Master Clean')
                .footer__contact
                    a(href="tel:89774529904") 8 977 452-99-04
                    a(href="mailto:masterclean-24@mail.ru") masterclean-24@mail.ru
                .footer__contact
                    p Москва, ул. Пятницкая, д.145, корпус 2, офис 12

            .footer__item.footer__item--el5.footer__item--mobile
                a(href="#").footer__logo
                    +img('../../../images/logo-footer.svg', 'footer__logo-image', 'Master Clean')
                .footer__policy
                    a(href="#") Политика конфиденциальности
                    a(href="#") Положение об обработке персональных данных

        .footer__copy
            .footer__policy.footer__policy--mobile
                a(href="#") Политика конфиденциальности
                a(href="#") Положение об обработке персональных данных
            p ©2011-2020 Все права защищены. Любое копирование только с разрешения администрации. Не является публичной офертой.