extends ../templates/main

block variables
    - var title = 'Master Clean'


block content
    include ../blocks/calculate/calculate
    include ../blocks/represent/represent
    include ../blocks/services/services
    include ../blocks/faq/faq
    include ../blocks/testimonials/testimonials
    include ../blocks/news/news
    .height-100
    include ../blocks/footer/footer