section.section.represent__section
    .layout
        .represent__wrapper
            .represent
                .represent__img
                    +img('../../../images/represent/represent1.svg', '', 'Represent icon')
                .represent__content
                    h3 Экологичная уборка
                    p Мы используем специальные экологически безопасные средства
            .represent
                .represent__img
                    +img('../../../images/represent/represent2.svg', '', 'Represent icon')
                .represent__content
                    h3 Лучшие исполнители
                    p Проверенные временем специалисты с многолетним опытом работы
            .represent
                .represent__img
                    +img('../../../images/represent/represent3.svg', '', 'Represent icon')
                .represent__content
                    h3 Гарантия чистоты
                    p Если будет плохой результат — уборка за наш счет!
            .represent
                .represent__img
                    +img('../../../images/represent/represent4.svg', '', 'Represent icon')
                .represent__content
                    h3 Страхуем
                    p Клинер что-то сломал? Не волнуйтесь! Ваше имущество застраховано!